.top-image{
    height: 120px;
    width: 120px;
    display: block;
    margin: auto;
}
.search-width{
    width: 35%;
}
#spinner{
    display: none;
}
.book-cover-size{
    height: 318px;
    width: 255px;
}
